@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 353 50% 7%;
    --card: 0 0% 100%;
    --card-foreground: 353 50% 7%;
    --popover: 0 0% 100%;
    --popover-foreground: 353 50% 7%;
    --primary: 355 80% 56%;
    --primary-foreground: 353 50% 7%;
    --secondary: 355 66% 72%;
    --secondary-foreground: 353 50% 7%;
    --muted: 0 0% 20%;
    --muted-foreground: 353 50% 70%;
    --accent: 355 72% 61%;
    --accent-foreground: 353 50% 7%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 353 50% 7%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 355 72% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 353 50% 93%;
    --card: 0 0% 0%;
    --card-foreground: 353 50% 93%;
    --popover: 0 0% 0%;
    --popover-foreground: 353 50% 93%;
    --primary: 355 80% 44%;
    --primary-foreground: 353 50% 93%;
    --secondary: 355 66% 28%;
    --secondary-foreground: 353 50% 93%;
    --muted: 0 0% 80%;
    --muted-foreground: 353 50% 93%;
    --accent: 355 72% 39%;
    --accent-foreground: 353 50% 93%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 353 49% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 355 72% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .wrapper {
    @apply max-w-7xl mx-auto p-2;
  }
}
